
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* share style */
 .secondery-bg{
    background-color: #FFF8F3;
}
.text-primary {
    color:#FD6E0A
}
.dark-2{
    color:#474747;
}
.text-center{
  text-align: center;
}
/* naver style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
 list-style: none;
margin-right: 50px ;
}
nav li a{
    text-decoration: none;
     font-size: 20px;
}

.btn-primary{
    background-color: #FD6E0A;
    color: white;
    font-weight: bold;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    border-style: none;
    gap: 10px;
}
/* header */
.header{
    background-image: url('../developer.png'),url('../header_bg.png');
    background-repeat: no-repeat;
    background-position: top left , bottom right;
}

/* banner section */

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.banner-container{
    max-width: 580px;
}
.banner-gettings{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-size: 55px;
    font-weight: bold;
}
.banner-pic{
    width: 580px;
}
/* main style */
main{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 140px;
    margin-bottom: 130px;
}
/* about-me-section */

.about{
border-radius: 10px;
padding: 120px 140px;
text-align: center;

}
.section-title{
font-weight: bold;
}
.section-description{
 background-color: white;
 font-size: 18px;
 color: #757575;
 margin-top: 50px;
}
.about-items{
    display: flex;
    justify-content:space-around;
}
.item-description{
    font-weight: bold;
   
}

/* skills section */
/* .skills{
 margin-top: 140px;
} */
.skill-title{
    font-weight: bold;
    font-size: 35px;
    color: #181818;
   
}
.skill-description{
font-size: 18px;
color:#757575 ;
padding: 30px;
}
.skills-container{
    display: flex;
    gap: 20px;
    
}
   .skill{
    border-radius: 10px;
    width: 267px;
    height: 377px;
    background-color: #FFFFFF;
    box-shadow:0px 6px 50px 0px rgba(0,0,0, 0.06) ; 
    
   }
.title,.description,img{
    margin: 20px;
}
.description{
    font-size: 16px;
    color:rgba(117, 117,117) ;
}

/* A summary of My Resume */
.summary-title{
    margin-top: 50px;
    font-weight: bold;
    font-size: 35px;
    color: #181818
}
.resume-container{
    display: flex;
    gap: 25px;
 
}

.resume-column{
    margin: 10px 20px;
}
.resume-title{
    color:rgba(71, 71, 71, 1);
    font-size: 30px;
    font-weight: bold;
}
.resume-description h6{
    font-size: 16px;
    color: #757575;
}
h6{
    font-weight: 600;
}
/* footer section */
.cloumn{
     padding: 130px 230px;
    display: flex;
    gap: 100px;
}
.footer-column{
    width: 50%;
}
footer input[type="text"], footer input[type="email"]{
    height: 64px;
    border-radius:5px;
    background-color: white;
    width: 100%;
    display: block;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
  
}
footer input[type="submit"]{
    margin-top: 20px;
}
